@media only screen and (min-width: 900px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navigation ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
    }
    
    .navigation a {
        text-align: center;
        flex: 1 1 100%;
    }
    
    #menu {
        display: none;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        justify-items: center;
    }
}