* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Port Lligat Slab", serif;
}

header {
    color: white;
    background-color: rgb(59, 155, 161);
    text-align: center;
    padding: 1.5rem;
}

h1 {
    font-size: 1.7rem;
}

img {
    width: 100%;
    height: auto;
}

form {
    max-width: 500px;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}

.card {
    margin-bottom: 1rem;
}

label, .card p {
    font-weight: 500;
    font-size: .95rem;
}

input[type="text"], input[type="checkbox"], input[type="radio"], input[type="date"], select, textarea {
    padding: .5rem;
    margin-top: .25rem;
    width: 100%;
    border: 1px solid rgb(122, 122, 122);
}

input[type="radio"], input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

input[type="submit"] {
    font-size: larger;
    font-weight: 550;
    padding: .5rem;
    width: 100%;
}

input:focus {
    outline: 1px solid #888;
}

textarea {
    height: 6rem;
}

.rating {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: .25rem;
    justify-items: center;
}

.features {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: max-content;
    align-items: center;
}

.features label {
    margin-left: .7rem;
}

.small {
    color: rgb(46, 130, 255);
    font-size: 0.8rem;
}

footer {
    color: white;
    background-color: rgb(59, 155, 161);
    text-align: center;
    padding: 1.5rem;
}