@media only screen and (min-width: 900px) {
    header {
        align-items: center;
    }

    h2 {
        background-color: green;
    }
    
    #menu {
        display: none;
    }
    
    main {
    }
}